#navegation {
    background-color: rgb(0, 128, 128);
}

#navbarNav {
    text-align: center;
}

img {
    width: 350px;
    height: 300px;
}

#imgAside{
    padding: 10px;
}

aside {
    background-color: rgba(0, 255, 68, 0.596);
}

footer{
    background-color: rgb(0, 128, 128);
    font-family: Arial;
    padding: 10px;
}

@media (max-width: 1024px) {
    #imgAside{
        visibility: hidden;
    }
    aside{
        visibility: hidden;
    }
}